<ion-view title="Sem resposta">
    <ion-content class="has-header gem-ion-content">
        <div class="text-center padding">
            <i class="fa fa-cloud fa-5x" aria-hidden="true" style="padding: 20px"></i>
            <h1 class="title-message">Sem conexão</h1>
            <p class="body-message padding">Não conseguimos acessar o Sr.Cidadão. Verifique sua conexão com a internet.</p>
            <button class="btn btn-link bt-lg" ng-click="vm.tryAgain()"><i class="fa fa-refresh fa-2x"></i><br> Tentar novamente</button>

        </div>
    </ion-content>
</ion-view>