<ion-view title="Sem conexão">
    <ion-content class="has-header gem-ion-content">
        <div class="text-center padding">
            <i class="fa fa-frown-o fa-5x" aria-hidden="true" style="padding: 20px"></i>
            <h1 class="title-message">Sem conexão</h1>
            <p class="body-message padding">Não conseguimos acessar o Sr.Cidadão. Verifique sua conexão com a internet.</p>
            <button class="btn btn-link bt-lg" ng-click="vm.tryAgain()"><i class="fa fa-refresh fa-2x"></i><br> Tentar novamente</button>
            
            <p><button class="btn btn-link bt-lg small" ng-click="vm.sair()"><span class="small"><i class="fa fa-window-close"></i> Sair do Sr.Cidadão</span></button></p>
        </div>
    </ion-content>
</ion-view>
