<ion-view title="Escolha os Políticos" class="login">
    <ion-nav-buttons side="left" ng-if="$state.includes('app.wizard-passo-tres')">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="wizard">
        <div class="sr-slide text-center container">
            <div class="sr-walk-content">
                <h1><i class="fa fa-users"></i> Políticos</h1>
                <h4>Quais políticos deseja monitorar?</h4>
                <h6>O Sr.Cidadão envia para você eventos importantes do seu político como votações e presença.</h6>
                <button angular-ripple class="btn btn-default btn-sm" ng-click="vm.finalizar()">Concluir <i class="fa fa-check"></i></button>
                
                <div class="text-center" ng-show="!vm.politicos" style="padding-top: 10px;">
                    <ion-spinner style="stroke: #fff;" class="spinner my-spinner"></ion-spinner>
                </div>  
                <div class="text-left item-columns" ng-if="vm.politicos" class="list list-inset">
                   <hr>
                    <ion-checkbox 
                        ng-repeat="item in vm.politicos track by item.oidPolitico"
                        ng-model="vm.checkedPolitico['P' + item.oidPolitico]" 
                        ng-click="vm.savePreference('politico', item.oidPolitico, vm.checkedPolitico['P' + item.oidPolitico])"
                        ng-checked="vm.checkedPolitico['P' + item.oidPolitico]"><span class="small" style="font-weight: normal">{{item.cargo}}</span> {{item.nome}} <span class="small" style="font-weight: normal">{{item.sigla}}-{{item.uf}}</span>
                    </ion-checkbox>
                    <hr>
                    <div class="text-center">
                        <button class="btn btn-link" ng-click="vm.passoDois()">Voltar</button>
                        <button angular-ripple class="btn btn-default btn-lg" ng-click="vm.finalizar()">Concluir <i class="fa fa-check"></i></button>

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
