<ion-view title="Meus Políticos">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header gem-ion-content">
        <section>
            <div class="item item-input-inset" ng-if="userInfo.friendsCount > 0">
                <label class="item-input-wrapper"> <i class="icon ion-search placeholder-icon"></i>
                    <input class="search-box" type="text" placeholder="Sua lista de políticos" ng-model="vm.key" ng-keyup="vm.searchMoreFriends()">
                </label>
            </div>
            <div class="label-title"> 
                <span ng-if="userInfo.friendsCount > 0">Monitorando <ng-pluralize count="userInfo.friendsCount" when="{ 'one' : 'um político', 'other' : '{} políticos'}"></ng-pluralize></span> 
                
                <section ng-if="userInfo.friendsCount == 0 && vm.friends.length == 0">
                    <div class="text-center padding">
                        <div class="padding">
                            <i class="fa fa-meh-o fa-5x"></i>
                        </div>
                        <div class="padding">
                            <p>Você ainda não está monitorando nenhum político.</p>
                            <p>Para receber notificações, escolha políticos para monitorar.</p>
                            <button ng-click="vm.searchPanel()" class="btn btn-primary btn-xs" angular-ripple>Escolher políticos</button>
                        </div>
                    </div>
                </section>  
                
                
            </div>
            <ul class="list">
                <li animated-custom="pulse" class="animated-item item item-pequeno" style="white-space: normal;" ng-repeat="friend in vm.friends track by friend.oidPolitico">
                    <!--<friend-menu data-friend="friend" data-callback-apaga="vm.apagaAmigo"></friend-menu>-->
                    <div>
                        <div class="media-left" ng-click="vm.politicianDetail(friend.oidPolitico)">
                            <div class="image-mini"><img class="thumbnail" check-image-politico ng-src="{{vm.configuracao.baseImagemPolitico + friend.arquivoFotoLocal}}" /></div>
                        </div>
                        <div class="media-body" ng-click="vm.politicianDetail(friend.oidPolitico)">
                            {{friend.abreviatura}} <b>{{friend.nome}}</b>
                            <p class="small">{{friend.sigla}}-{{friend.uf}}</p>
                        </div>
                        
                        
                        <div class="sr-minimo" ng-click="vm.ficha(friend.oidPolitico)">
                            <span ng-if="friend.evolucaoBens > 0">Aumentou seus bens em {{friend.evolucaoBens}}%</span>
                            <span ng-if="friend.evolucaoBens < 0">Diminuiu seus bens em {{friend.evolucaoBens}}%</span>
                            <span ng-if="friend.evolucaoReceitas > 0">&bull; Aumentou receitas de campanha em {{friend.evolucaoReceitas}}%</span>
                            <span ng-if="friend.evolucaoReceitas < 0">&bull; Diminuiu receitas de campanha em {{friend.evolucaoReceitas}}%</span>
                            <span ng-if="friend.evolucaoDespesas > 0">&bull; Aumentou despesas de campanha em {{friend.evolucaoDespesas}}%</span>
                            <span ng-if="friend.evolucaoDespesas < 0">&bull; Diminuiu de despesas de campanha em {{friend.evolucaoDespesas}}%</span> 
                            <span ng-if="friend.valoVoto > 0">&bull; "Pagou" R${{friend.valoVoto}} por voto na última eleição</span>
                            <span ng-if="friend.quantidadeCitacoes > 0">&bull; Citado/investigado em {{friend.quantidadeCitacoes}} casos</span>
                            <span ng-if="friend.percentualPresenca > 0">&bull; {{friend.percentualPresenca}}% de presença em plenário</span>
                            &bull; <ng-pluralize count="friend.quantidadeVotaComoVoce" when="{'0' : 'Vota como você em nenhuma matéria ', 'one' : 'Vota como você em uma matéria', 'other' : 'Vota como você em {} matérias '}"></ng-pluralize>
                        </div>  
                        
                        
                    </div>
                </li>
            </ul>
            <ion-infinite-scroll ng-if="!vm.noMoreItemsAvailable" on-infinite="vm.loadMoreFriends()" distance="10%"></ion-infinite-scroll>
            
        </section> 
    </ion-content>
</ion-view>
